/*!
 * Theme Name: Palat Theme
 * Theme URI: https://www.seothemes.com/themes/business-pro/
 * Description: A clean and modern WordPress theme for businesses.
 * Author: SEO Themes
 * Author URI: https://www.seothemes.com/
 * Version: 1.0.6
 * Text Domain: business-pro-theme
 * Tags: one-column, two-columns, left-sidebar, right-sidebar, accessibility-ready, custom-logo, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready.
 * Template: genesis
 * Template Version: 2.5.2
 * License: GPL-2.0+
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * GitHub Theme URI: https://github.com/seothemes/starter
 */
/* # Table of Contents

- Utilities
	- Variables
	- Mixins
	- Functions
- Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typography
	- Headings
	- Forms
	- Objects
	- Tables
	- Accessibility
- Layout
	- Site Containers
	- Content Width
	- Column Classes
	- Gallery
- Common
	- Avatars
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Header
	- Before Header
	- Site Header
	- Title Area
	- Widget Area
	- Hero Section
- Menus
	- Menus
	- Sub Menus
	- Specific Menus
	- Menu Toggles
- Content
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
	- Widgets
	- Sidebars
- Footer
	- Site Footer
	- Footer Widgets
- Plugins
	- Simple Social Icons
	- Gravity Forms
- Home
	- Front Page
	- Custom Header
- Print
	- Print Styles
*/
/* # Variables
-----------------------------------------------------------------------*/
/**
 * ### Breakpoints
 *
 * Based on the most common 16:9 screen resolutions.
 * @link https://pacoup.com/2011/06/12/list-of-true-169-resolutions/
 */
/* ### Colors */
/* ### Typography */
/* ### Other */
/* ### Column widths */
/* # Mixins
-----------------------------------------------------------------------*/
/* ### Media Queries */
/* ### Clearfix */
/* ### Flexfix */
/* ### Transitions */
/* ### Overlay */
/* ### Overlay */
/* normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 4rem; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: "Montserrat", sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 0.1rem dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -0.2rem;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* ## Box Sizing
--------------------------------------------- */
html,
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* ## Float Clearing
--------------------------------------------- */
.author-box,
.clearfix,
.entry,
.entry-content,
.footer-widgets,
.nav-primary,
.nav-secondary,
.pagination,
.site-container,
.site-footer,
.site-header,
.site-inner,
.sidebar .widget,
.wrap {
  clear: both; }
  .author-box:before, .author-box:after,
  .clearfix:before,
  .clearfix:after,
  .entry:before,
  .entry:after,
  .entry-content:before,
  .entry-content:after,
  .footer-widgets:before,
  .footer-widgets:after,
  .nav-primary:before,
  .nav-primary:after,
  .nav-secondary:before,
  .nav-secondary:after,
  .pagination:before,
  .pagination:after,
  .site-container:before,
  .site-container:after,
  .site-footer:before,
  .site-footer:after,
  .site-header:before,
  .site-header:after,
  .site-inner:before,
  .site-inner:after,
  .sidebar .widget:before,
  .sidebar .widget:after,
  .wrap:before,
  .wrap:after {
    clear: both;
    display: block;
    content: ''; }

/* ## Typography
--------------------------------------------- */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #232c39; }

body {
  background-color: #ffffff;
  color: #232c39;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden; }
  @media (min-width: 768px) {
    body {
      font-size: 2rem; } }

body > div {
  font-size: 1.8rem; }
  @media (min-width: 768px) {
    body > div {
      font-size: 2rem; } }

p {
  margin: 0 0 1.382em;
  padding: 0; }

a {
  color: #1a0dab;
  word-wrap: break-word; }
  a:hover {
    color: #647585; }

ol,
ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

hr {
  border: 0;
  border-collapse: collapse;
  border-bottom: 2px solid #f0f1f2;
  clear: both;
  padding: 1em 0 0;
  margin: 0 0 2em; }

b,
strong {
  font-weight: 500; }

blockquote,
cite,
em,
i {
  font-style: italic; }

blockquote {
  margin: 1em 0;
  padding: 0 1em; }

/* ## Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa", Open Sans, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 0; }

h1 {
  font-size: 1.8em; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.6em; } }

h2 {
  font-size: 1.4em; }
  @media (min-width: 768px) {
    h2 {
      font-size: 1.5em; } }

h3 {
  font-size: 1.3em; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.4em; } }

h4 {
  font-size: 1.2em; }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.3em; } }

h5 {
  font-size: 1.1em; }
  @media (min-width: 768px) {
    h5 {
      font-size: 1.2em; } }

h6 {
  font-size: 1.05em; }
  @media (min-width: 768px) {
    h6 {
      font-size: 1.1em; } }

/* ## Forms
--------------------------------------------- */
input,
select,
textarea {
  background-color: #ffffff;
  border: 2px solid #f0f1f2;
  border-radius: 4px;
  padding: 0.5em 1em;
  width: 100%;
  line-height: 2;
  font-size: 1.8rem; }
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    border-color: #647585; }

:focus {
  outline: 2px solid #f0f1f2; }

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto; }

input[type="search"] {
  -webkit-appearance: none; }

::-moz-placeholder {
  color: #647585;
  opacity: 1; }

::-webkit-input-placeholder {
  color: #647585; }

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #232c39;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Comfortaa", Open Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.2em 2.2em;
  text-decoration: none;
  display: inline-block;
  width: auto;
  height: auto;
  line-height: 1;
  box-shadow: inset 0 0 0 9rem rgba(255, 255, 255, 0), 0 1rem 1rem -1rem rgba(35, 44, 57, 0.1);
  -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
  .button:hover,
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    color: #ffffff;
    box-shadow: inset 0 0 0 9rem rgba(255, 255, 255, 0.1), 0 1.25rem 1rem -0.5rem rgba(35, 44, 57, 0.1);
    -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
  .button.accent,
  button.accent,
  input[type="button"].accent,
  input[type="reset"].accent,
  input[type="submit"].accent {
    background-color: #fb2056; }
  .button .button.accent:hover,
  button .button.accent:hover,
  input[type="button"] .button.accent:hover,
  input[type="reset"] .button.accent:hover,
  input[type="submit"] .button.accent:hover {
    background-color: #DC143C; }
  .button.small,
  button.small,
  input[type="button"].small,
  input[type="reset"].small,
  input[type="submit"].small {
    font-size: 1.2rem; }
  .button:disabled, .button:disabled:hover,
  button:disabled,
  button:disabled:hover,
  input[type="button"]:disabled,
  input[type="button"]:disabled:hover,
  input[type="reset"]:disabled,
  input[type="reset"]:disabled:hover,
  input[type="submit"]:disabled,
  input[type="submit"]:disabled:hover {
    background-color: #f6f7f8;
    border-width: 0;
    color: #697886;
    cursor: not-allowed; }
  .button + button,
  .button + .button,
  button + button,
  button + .button,
  input[type="button"] + button,
  input[type="button"] + .button,
  input[type="reset"] + button,
  input[type="reset"] + .button,
  input[type="submit"] + button,
  input[type="submit"] + .button {
    margin-top: 1em;
    clear: both; }
    @media (min-width: 512px) {
      .button + button,
      .button + .button,
      button + button,
      button + .button,
      input[type="button"] + button,
      input[type="button"] + .button,
      input[type="reset"] + button,
      input[type="reset"] + .button,
      input[type="submit"] + button,
      input[type="submit"] + .button {
        margin-top: 0;
        clear: none; } }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none; }

fieldset {
  margin-bottom: 1em; }

/* ## Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption,
.wp-video-shortcode {
  max-width: 100%;
  display: block; }

img {
  height: auto; }

figure {
  margin: 0; }

video {
  object-fit: cover; }

.wp-video-shortcode {
  width: auto !important; }

/* ## Tables
--------------------------------------------- */
table {
  background-color: #ffffff;
  border: 2px solid #f0f1f2;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1;
  margin-bottom: 4rem;
  width: 100%; }

tbody {
  border-bottom: 2px solid #f0f1f2; }

td,
th {
  text-align: left;
  padding: 0.618em;
  border-top: 2px solid #f0f1f2;
  border-right: 2px solid #f0f1f2; }

/* ## Accessibility
--------------------------------------------- */
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut,
.wp-custom-logo .site-title,
.wp-custom-logo .site-description {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 0.1rem;
  width: 0.1rem;
  border: 0;
  overflow: hidden; }

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
  clip: auto !important;
  height: auto;
  width: auto;
  top: 1em;
  left: 1em;
  display: block;
  padding: 1rem 2rem;
  z-index: 100000;
  text-decoration: none;
  color: #ffffff;
  background-color: #232c39;
  box-shadow: 0 0 0.2rem 0.2rem rgba(35, 44, 57, 0.1); }

.more-link {
  position: relative;
  font-style: normal; }

.genesis-skip-link {
  margin: 0; }
  .genesis-skip-link li {
    height: 0;
    width: 0;
    list-style: none; }

/* ## Site Containers
--------------------------------------------- */
.site-inner {
  background-color: #ffffff; }

.wrap {
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%; }
  @media (min-width: 768px) {
    .wrap {
      width: 90%;
      max-width: 1280px;
      padding: 0; } }
  .wrap .wrap {
    max-width: 100%;
    width: auto;
    padding: 0; }

.content-sidebar-wrap {
  max-width: 1280px;
  margin: 0 auto;
  clear: both;
  padding: 10vw 5vw;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  @media (min-width: 768px) {
    .content-sidebar-wrap {
      width: 90%;
      max-width: 1280px;
      padding: 6rem 0; } }
  @media (min-width: 896px) {
    .content-sidebar-wrap {
      padding: 8rem 0;
      flex-direction: row;
      justify-content: space-between; }
      .content-sidebar-wrap:before, .content-sidebar-wrap:after {
        position: absolute; }
      .sidebar-content .content-sidebar-wrap {
        flex-direction: row-reverse; } }
  .page-builder .content-sidebar-wrap {
    padding: 0;
    border-top: 2px solid #f0f1f2;
    border-bottom: 2px solid #f0f1f2; }

/* ## Content Widths and Positions
--------------------------------------------- */
@media (min-width: 896px) {
  .content {
    width: 768px;
    margin-left: auto;
    margin-right: auto; }

  .sidebar-primary {
    width: 25%; }

  .sidebar-content .content,
  .content-sidebar .content {
    width: calc(75% - 4rem);
    margin-left: 0;
    margin-right: 0; }

  .full-width-content .content {
    width: 100%; } }
/* ## Column Classes (including fifths)
--------------------------------------------- */
@media (min-width: 768px) {
  .one-half,
  .one-third,
  .one-fourth,
  .one-fifth,
  .one-sixth,
  .two-thirds,
  .two-fourths,
  .two-fifths,
  .two-sixths,
  .three-fourths,
  .three-fifths,
  .three-sixths,
  .four-fifths,
  .four-sixths,
  .five-sixths {
    float: left;
    margin-left: 2.5641025641%; }

  .one-half,
  .three-sixths,
  .two-fourths {
    width: 48.7179487179%; }

  .one-third,
  .two-sixths,
  .gallery-columns-3 .gallery-item {
    width: 31.6239316239%; }

  .four-sixths,
  .two-thirds {
    width: 65.811965812%; }

  .one-fourth,
  .gallery-columns-4 .gallery-item {
    width: 23.0769230769%; }

  .three-fourths {
    width: 74.358974359%; }

  .one-fifth,
  .gallery-columns-5 .gallery-item {
    width: 17.9487179487%; }

  .two-fifths {
    width: 38.4615384615%; }

  .three-fifths {
    width: 58.9743589744%; }

  .four-fifths {
    width: 79.4871794872%; }

  .one-sixth,
  .gallery-columns-6 .gallery-item {
    width: 14.5299145299%; }

  .five-sixths {
    width: 82.905982906%; }

  .first {
    clear: both;
    margin-left: 0; } }
/* ## Gallery
--------------------------------------------- */
.gallery,
.gallery-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.gallery a {
  display: block;
  min-height: 100%; }
.gallery img {
  height: auto;
  width: 100%;
  display: block;
  border-radius: 4px; }

.gallery-caption {
  display: block; }

.gallery-item {
  width: 100%;
  margin: 0 0 5vw;
  text-align: center;
  display: block; }
  @media (min-width: 512px) {
    .gallery-item {
      width: 48.7179487179%;
      margin-bottom: 2.5641025641%; } }

/* ## Avatars
--------------------------------------------- */
.avatar {
  border-radius: 50%;
  margin-right: 2rem;
  float: left; }
  .alignright .avatar {
    margin-left: 2rem; }

/* ## Genesis
--------------------------------------------- */
.breadcrumb {
  padding: 0;
  font-size: 1.4rem;
  width: 100%;
  margin-bottom: 3rem; }
  .breadcrumb a {
    text-decoration: underline; }

.after-entry,
.author-box {
  margin-bottom: 5%; }
  @media (min-width: 768px) {
    .after-entry,
    .author-box {
      margin-bottom: 4rem; } }

.author-box {
  margin-top: 5%; }
  @media (min-width: 768px) {
    .author-box {
      margin-top: 4rem; } }
  .author-box p:last-of-type {
    margin-bottom: 0; }

/* ## Search Form
--------------------------------------------- */
.search-form {
  display: block;
  width: 100%;
  position: relative;
  clear: both; }
  .search-form:before, .search-form:after {
    clear: both;
    display: block;
    content: ''; }
  .search-form:after {
    content: "\f2eb";
    display: block;
    position: absolute;
    font-family: 'Fontawesome';
    right: 1.2rem;
    top: 1.2rem;
    font-size: 2rem;
    pointer-events: none; }
  .search-form input[type="search"] {
    width: 100%; }
  .search-form input[type="submit"] {
    display: none; }
  .entry-content .search-form {
    margin-bottom: 1em; }

/* ## WordPress
--------------------------------------------- */
a.aligncenter img {
  display: block;
  margin: 0 auto; }
a.alignnone {
  display: inline-block; }

.alignleft {
  float: left;
  text-align: left; }

.alignright {
  float: right;
  text-align: right; }

a.alignleft, a.alignnone, a.alignright {
  max-width: 100%; }

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 1em; }

img.alignnone,
.alignnone {
  margin-bottom: 1em; }

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 1em 1em 0; }

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 1em 1em; }

.wp-caption-text {
  font-size: 1.4rem;
  margin: 0;
  text-align: center; }

.entry-content p.wp-caption-text {
  margin-bottom: 0; }
.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 1em; }

.sticky,
.bypostauthor {
  background-color: transparent; }

.post-edit-link {
  display: block;
  clear: both; }
  .post-edit-link:before, .post-edit-link:after {
    clear: both;
    display: block;
    content: ''; }
  .page-template-page-builder .post-edit-link {
    display: none; }

/* ## Site Header
--------------------------------------------- */
.site-header {
  position: absolute;
  width: 100%;
  z-index: 100;
  -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
  .has-fixed-header .site-header {
    position: fixed; }
    .has-fixed-header .site-header.shrink {
      background-color: #232c39;
      box-shadow: 0 0 2rem rgba(35, 44, 57, 0.2); }
  @media (min-width: 896px) {
    .site-header.shrink > .wrap {
      padding: 0; } }
  .page-template-page-builder .site-header {
    position: relative;
    background-color: #232c39; }
    .page-template-page-builder .site-header.fixed {
      position: fixed; }
  .site-header > .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
    @media (min-width: 896px) {
      .site-header > .wrap {
        padding: 1rem 0;
        flex-wrap: nowrap;
        position: relative; } }

/* ## Title Area
--------------------------------------------- */
.title-area {
  margin: 0 auto 0 0;
  position: relative;
  height: 100%;
  display: block;
  flex: 1;
  padding: 2rem 0;
  max-width: 15rem; }
  .wp-custom-logo .title-area {
    padding: 1rem 0; }
    @media (min-width: 1152px) {
      .wp-custom-logo .title-area {
        padding: 0; } }

.site-title {
  font-size: 1.7rem;
  font-family: "Comfortaa", Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0;
  white-space: nowrap; }
  .site-title a {
    color: #ffffff;
    text-decoration: none; }

.site-description {
  font-size: 1.2rem;
  margin-bottom: 0;
  line-height: 1;
  color: #ffffff; }
  @media (min-width: 896px) {
    .site-description {
      text-align: left;
      line-height: 1.382; } }

.custom-logo-link {
  display: block; }

/* ## Header Right Widget Area
--------------------------------------------- */
@media (min-width: 896px) {
  .header-widget-area {
    order: 3;
    margin-left: 1em;
    margin-right: 0; } }
@media (max-width: 896px) {
  .header-widget-area ul,
  .header-widget-area ul.alignleft,
  .header-widget-area ul.alignright {
    margin: 2em auto;
    float: none;
    display: flex;
    justify-content: center; }
    .header-widget-area ul li,
    .header-widget-area ul.alignleft li,
    .header-widget-area ul.alignright li {
      margin: 0 0.5em; } }
.header-widget-area .widget-wrap {
  clear: both; }
  .header-widget-area .widget-wrap:before, .header-widget-area .widget-wrap:after {
    clear: both;
    display: block;
    content: ''; }
.header-widget-area .simple-social-icons ul li a,
.header-widget-area .simple-social-icons ul li a:hover,
.header-widget-area .simple-social-icons ul li a:focus {
  background-color: transparent !important; }

/* ## Custom Header
--------------------------------------------- */
.wp-custom-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  pointer-events: none; }
  .woocommerce .wp-custom-header img,
  .wp-custom-header img,
  .wp-custom-header video,
  .wp-custom-header iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center; }
  .wp-custom-header iframe {
    top: -20%;
    left: -20%;
    right: -20%;
    bottom: -20%;
    margin: auto;
    height: 140%;
    width: 140%;
    max-width: 140%;
    max-height: none;
    min-width: 100%;
    min-height: 56.25vw;
    position: absolute; }
  .wp-custom-header img {
    display: none; }

.wp-custom-header-video-button {
  display: none; }

/* ## Page Header
--------------------------------------------- */
.page-template-default .page-header:before {
  background-color: rgba(35, 44, 57, 0.5);
}

.page-header {
  color: #ffffff;
  padding: 12rem 0 6rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  position: relative;
  position: relative; }
  .page-header:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 44, 57, 0.9);
    z-index: 1;
    pointer-events: none; }
  @media (min-width: 768px) {
    .page-header {
      padding: 12rem 0 10rem; } }
  .page-header .wrap {
    position: relative;
    z-index: 1; }
  .page-header h1 {
    max-width: 768px;
    margin: 0 auto 0.382em; }
  .page-header p {
    max-width: 768px;
    margin: 0 auto; }

/* ## Menus
--------------------------------------------- */
.menu {
  width: 100%;
  font-family: "Comfortaa", Open Sans, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  clear: both; }
  .menu:before, .menu:after {
    clear: both;
    display: block;
    content: ''; }
  @media (min-width: 896px) {
    .menu {
      text-align: left;
      font-size: 1.3rem; } }

.menu-item {
  display: block;
  padding: 0.5em 0;
  width: 100%;
  position: relative; }
  @media (min-width: 896px) {
    .menu-item {
      display: inline-block;
      padding: 0;
      width: auto; } }
  .menu-item.right {
    margin-left: auto; }
  .menu-item:hover {
    color: #DC143C !important; }
  .menu-item:focus, .menu-item.sfHover {
    outline: none; }
    @media (min-width: 896px) {
      .menu-item:focus > .sub-menu, .menu-item.sfHover > .sub-menu {
        opacity: 1 !important;
        pointer-events: all; } }
  @media (min-width: 896px) {
    .menu-item.menu-item-has-children > a > span:after {
      content: '';
      width: auto;
      display: inline-block;
      margin-left: 0.5em;
      border: 3px solid transparent;
      border-top-color: #f6f7f8; } }
  .menu-item.button {
    background-color: transparent;
    padding: 0;
    font-size: 1.2rem; }
    .menu-item.button:hover {
      box-shadow: none; }
    .menu-item.button > a > span {
      background-color: #fb2056;
      padding: 1em 2em;
      border-radius: 4px;
      color: #ffffff;
      margin-top: 1em;
      display: block; }
      @media (min-width: 896px) {
        .menu-item.button > a > span {
          margin-top: 0;
          display: inline; } }
      .menu-item.button > a > span:hover {
        color: #DC143C !important;
        box-shadow: inset 0 0 0 9rem rgba(255, 255, 255, 0.1), 0 1.25rem 1rem -0.5rem rgba(35, 44, 57, 0.25);
        -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
        -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
        -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
        transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
  .menu-item a {
    width: auto;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 0;
    color: #f0f1f2; }
    @media (min-width: 896px) {
      .menu-item a {
        padding: 1.5em 1em;
        width: 100%; } }
    @media (min-width: 1152px) {
      .menu-item a {
        padding: 2em 1.25em; } }
    .menu-item a span {
      position: relative; }
  .menu-item a:hover, .menu-item a:focus, .menu-item.current-menu-item > a {
    color: #DC143C; }
    .sub-menu .menu-item a:hover,
    .sub-menu .menu-item a:focus,
    .sub-menu .menu-item.current-menu-item > a {
      color: #647585; }

/* ## Sub Menus
--------------------------------------------- */
.sub-menu {
  display: none;
  font-size: 1.4rem;
  padding: 1em 0;
  clear: both; }
  .sub-menu:before, .sub-menu:after {
    clear: both;
    display: block;
    content: ''; }
  @media (min-width: 896px) {
    .sub-menu {
      position: absolute;
      width: 18rem;
      z-index: 99;
      border-radius: 4px;
      background-color: #ffffff;
      padding: 0.618em 0.5em;
      margin: 0;
      font-size: 1.2rem;
      opacity: 0 !important;
      pointer-events: none;
      box-shadow: 0 0.5rem 1.5rem rgba(35, 44, 57, 0.05); }
      .sub-menu:before {
        content: '';
        display: block;
        position: absolute;
        top: -1rem;
        left: 3rem;
        border: 0.5rem solid transparent;
        border-bottom-color: #ffffff; } }
  .sub-menu li {
    width: 100%; }
    .sub-menu li:first-of-type {
      margin-top: 0.5em; }
      @media (min-width: 896px) {
        .sub-menu li:first-of-type {
          margin-top: 0; } }
      .sub-menu li:first-of-type a {
        padding-left: 1em; }
  .sub-menu a {
    padding-left: 1em; }
    @media (min-width: 896px) {
      .sub-menu a {
        padding: 1em;
        position: relative;
        word-wrap: break-word;
        color: #232c39; } }
    @media (min-width: 1152px) {
      .sub-menu a {
        padding: 1em; } }
  .sub-menu .sub-menu {
    padding-left: 1em; }
    @media (min-width: 896px) {
      .sub-menu .sub-menu {
        margin: -0.6em 0 0 18.2rem;
        padding-left: 0.5em;
        left: 0;
        top: 0; } }
    @media (min-width: 896px) {
      .sub-menu .sub-menu:before {
        position: absolute;
        top: 2em;
        left: -1rem;
        border: 0.5rem solid transparent;
        border-right-color: #ffffff; } }

/* ## Specific Menus
--------------------------------------------- */
.nav-primary {
  width: 100vw;
  margin: auto;
  padding: 5vw;
  background-color: rgba(35, 44, 57, 0.98);
  border-top: 2px solid #f0f1f2;
  border-bottom: 2px solid #f0f1f2;
  position: fixed;
  overflow: auto;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  left: 5vw;
  top: -1rem;
  left: -1rem;
  right: -1rem;
  bottom: -1rem;
  display: none; }
  @media (min-width: 896px) {
    .nav-primary {
      background-color: transparent;
      border: none;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      width: auto;
      display: block;
      margin: 0;
      padding: 0;
      overflow: visible;
      -webkit-overflow-scrolling: initial; } }
  .nav-primary.visible {
    display: block; }
  .no-js .nav-primary {
    width: 100%;
    position: relative;
    display: block; }
    @media (min-width: 896px) {
      .no-js .nav-primary {
        display: block;
        width: auto; } }
    .no-js .nav-primary .wrap {
      padding: 0 5%; }
    .no-js .nav-primary .menu-item {
      display: inline-block;
      width: auto;
      margin: 0 0.5em; }
  .nav-primary .wrap {
    height: 100%; }
  .nav-primary .menu {
    min-height: 100%;
    padding: 0 0 1em;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 896px) {
      .nav-primary .menu {
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0; } }

/* ## Menu Toggles
--------------------------------------------- */
.menu-toggle {
  padding: 2.7rem 0;
  cursor: pointer;
  background-color: transparent;
  display: block;
  position: absolute;
  right: 5vw;
  top: 0;
  line-height: 1;
  color: transparent;
  letter-spacing: -0.5em;
  z-index: 999; }
  @media (min-width: 896px) {
    .menu-toggle {
      display: none; } }
  .menu-toggle:hover, .menu-toggle:focus {
    background: none;
    outline: none;
    box-shadow: none;
    color: transparent; }
  .menu-toggle.activated {
    position: fixed; }
  .menu-toggle span {
    display: block;
    float: right;
    position: relative;
    height: 0.2rem;
    background: #ffffff;
    transition: background 0s 0.2s;
    width: 2.5rem;
    margin-left: 0.236em;
    margin-top: 0.7rem;
    border-radius: 4px; }
    .menu-toggle span::before, .menu-toggle span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: #ffffff;
      border-radius: 4px;
      content: " "; }
    .menu-toggle span::before {
      top: -0.7rem;
      transition: top 0.2s 0.2s, transform 0.2s 0s; }
    .menu-toggle span::after {
      bottom: -0.7rem;
      transition: bottom 0.2s 0.2s, transform 0.2s 0s; }
  .menu-toggle.activated span {
    background: none; }
    .menu-toggle.activated span::before {
      top: 0;
      transform: rotate(45deg);
      transition: top 0.2s 0s, transform 0.2s 0.2s; }
    .menu-toggle.activated span::after {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 0.2s 0s, transform 0.2s 0.2s; }

.sub-menu-toggle {
  position: absolute;
  background-color: transparent;
  padding: 0.9em;
  margin: 0 -1em 0 1em; }
  @media (min-width: 896px) {
    .sub-menu-toggle {
      display: none; } }
  .sub-menu-toggle:hover, .sub-menu-toggle:focus {
    background: none; }
  .sub-menu-toggle:before {
    content: "";
    display: block;
    margin: 0.2rem 0 -0.2rem;
    border: 0.4rem solid transparent;
    border-top-color: #f6f7f8; }
  .sub-menu-toggle.activated:before {
    transform: rotate(180deg);
    margin: -0.2rem 0 0.2rem; }

/* ## Entries
--------------------------------------------- */
.entry {
  background-color: #ffffff; }
  .single .entry {
    background-color: transparent; }

.entry-title a {
  text-decoration: none; }

.entry-content {
  clear: both; }
  .entry-content:before, .entry-content:after {
    clear: both;
    display: block;
    content: ''; }
  .entry-content p {
    color: #647585; }
    .blog .entry-content p, .archive .entry-content p {
      display: flex;
      flex-wrap: wrap; }
  .entry-content li {
    color: #647585; }
  .entry-content ol,
  .entry-content ul {
    margin-bottom: 1em;
    margin-left: 4rem; }
  .entry-content ol > li {
    list-style-type: decimal; }
  .entry-content ul > li {
    list-style-type: disc; }
  .entry-content ol ol,
  .entry-content ul ul {
    margin-bottom: 0; }
  .entry-content li li {
    list-style-type: circle; }
  .entry-content code {
    background-color: #f6f7f8;
    display: block;
    padding: 1rem 2rem;
    border: 2px solid #f0f1f2;
    margin-top: 1em;
    border-radius: 4px; }
  .entry-content > *:last-child {
    margin-bottom: 0; }

.entry-image-link {
  display: block;
  margin-bottom: 1em; }
  .entry-image-link img {
    display: block; }

.entry-image-link {
  display: block;
  margin: 0 0 3rem; }
  @media (min-width: 768px) {
    .single .entry-image-link {
      margin: 0 0 4rem; } }

.single .entry-footer {
  padding: 3rem 0 0; }

/* ## Entry Meta
--------------------------------------------- */
p.entry-meta {
  font-size: 1.2rem;
  font-family: "Comfortaa", Open Sans, sans-serif;
  font-weight: 500; }
  .entry-header p.entry-meta {
    margin-bottom: 1em; }

.entry-categories,
.entry-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start; }
  .entry-categories img,
  .entry-tags img {
    margin-right: 0.5em; }

/* ## Pagination
--------------------------------------------- */
.pagination {
  margin: 5vw 0 10vw;
  width: 100%;
  display: flex;
  justify-content: center;
  clear: both; }
  .pagination:before, .pagination:after {
    clear: both;
    display: block;
    content: ''; }
  @media (min-width: 896px) {
    .pagination {
      margin: 4rem 0 0;
      order: 3; }
      .content-sidebar .pagination, .sidebar-content .pagination {
        width: calc(75% - 4rem); } }

.adjacent-entry-pagination {
  margin: 0;
  padding: 4rem 0;
  background-color: #f6f7f8;
  font-family: "Comfortaa", Open Sans, sans-serif;
  font-size: 1.4rem;
  font-weight: 500; }
  @media (min-width: 896px) {
    .adjacent-entry-pagination {
      margin: 0; } }
  .adjacent-entry-pagination a {
    color: #1a0dab;
    text-decoration: none; }

.archive-pagination ul {
  display: flex; }
.archive-pagination li {
  margin: 0 0.25em 0 0; }
.archive-pagination a {
  background-color: #ffffff;
  color: #1a0dab;
  font-size: 1.6rem;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
.archive-pagination a:hover,
.archive-pagination .active a {
  background-color: #fb2056;
  color: #ffffff;
  box-shadow: 0 1rem 1rem -0.5rem rgba(35, 44, 57, 0.15); }

/* ## Comments
--------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
  background-color: #fff;
  font-size: 1.6rem;
  margin-top: 4rem; }

.comment-respond .form-submit {
  margin-bottom: 0; }

.comment-list li {
  padding: 4rem 0 0 5vw; }
.comment-list .depth-1 {
  padding-left: 0; }
.comment-list .comment-respond {
  padding: 0 0 0 1em; }
.comment-list > .comment-respond {
  padding: 0; }

.comment-header {
  margin-bottom: 5vw; }
  @media (min-width: 768px) {
    .comment-header {
      margin-bottom: 2em; } }
  .comment-header p {
    margin-bottom: 0; }

.comment-edit-link {
  padding-left: calc(4.8rem + 1em); }
  .entry-pings .comment-edit-link {
    padding: 0;
    clear: both;
    display: block; }

.comment-reply-link {
  display: block;
  margin-bottom: 1em; }

.comment-meta {
  padding-left: calc(4.8rem + 1em);
  word-break: break-all; }
  .entry-pings .comment-meta {
    padding: 0 0 1em; }

.comment-content {
  clear: both; }
  .comment-content ul > li {
    list-style-type: disc; }
  .comment-content p {
    margin-bottom: 0.618em; }

@media (min-width: 1280px) {
  .comment-respond input[type="email"],
  .comment-respond input[type="text"],
  .comment-respond input[type="url"] {
    width: 50%; } }
.comment-respond input[type="email"] label,
.comment-respond input[type="text"] label,
.comment-respond input[type="url"] label {
  display: block;
  margin-right: 1rem; }

.entry-pings .reply {
  display: none; }

.pingback:last-of-type p {
  margin-bottom: 0; }

/* ## Widgets
--------------------------------------------- */
.sidebar-primary {
  order: 3; }
  @media (min-width: 896px) {
    .sidebar-primary {
      order: 2; } }

.widget {
  margin-bottom: 10vw;
  word-wrap: break-word; }
  @media (min-width: 896px) {
    .widget {
      margin-bottom: 0; } }
  .widget:last-of-type {
    margin-bottom: 0; }
  .sidebar .widget {
    margin-bottom: 5vw;
    font-size: 1.6rem; }
    @media (min-width: 768px) {
      .sidebar .widget {
        margin-bottom: 4rem; } }
    .sidebar .widget p:last-of-type {
      margin-bottom: 0; }
  .widget ul > li:last-of-type:not(.gfield) {
    margin-bottom: 0; }
  .widget ul > li {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em; }
  .widget ul > li:last-of-type {
    padding-bottom: 0; }
  .widget ol > li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 1em;
    text-indent: -1em; }
  .widget li li {
    border: 0;
    margin: 0 0 0 1em;
    padding: 0; }

.widgettitle, .widget-title {
  font-family: "Comfortaa", Open Sans, sans-serif;
  font-size: 2.4rem; }
  .sidebar .widgettitle,
  .sidebar .widget-title {
    font-size: 1.6rem;
    margin-bottom: 1em; }

.widget_calendar table {
  width: 100%; }
.widget_calendar td,
.widget_calendar th {
  text-align: center; }

/* ## Site Footer
--------------------------------------------- */
.site-footer {
  background-color: #232c39;
  color: #a4a8ac;
  position: relative; }
  .site-footer > .wrap {
    padding: 0 5vw 5vw;
    position: relative; }
    @media (min-width: 768px) {
      .site-footer > .wrap {
        padding: 0 0 6rem; } }
    .site-footer > .wrap > p {
      margin-bottom: 0;
      font-size: 1.6rem;
      max-width: calc(100% - 4rem); }
  .site-footer a {
    color: #a4a8ac;
    text-decoration: none; }
    .site-footer a:hover {
      color: #f6f7f8; }
  .site-footer .back-to-top {
    position: absolute;
    right: 5vw;
    bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    width: 3rem;
    height: 3rem;
    text-align: center; }
    @media (min-width: 768px) {
      .site-footer .back-to-top {
        bottom: 5.8rem;
        right: 0; } }
    .site-footer .back-to-top:hover {
      background-color: rgba(255, 255, 255, 0.2); }
    .site-footer .back-to-top:before, .site-footer .back-to-top:after {
      content: '';
      display: block;
      height: 2px;
      width: 8px;
      background-color: #a4a8ac;
      position: absolute;
      top: 1.3rem;
      left: 0.9rem;
      transform: rotate(-45deg); }
    .site-footer .back-to-top:after {
      transform: rotate(45deg);
      left: 1.3rem; }

/* ## Footer Widgets
--------------------------------------------- */
.footer-widgets {
  padding: 6rem 0;
  z-index: 0;
  font-size: 1.7rem; }
  @media (min-width: 896px) {
    .footer-widgets {
      padding: 10rem 0; } }
  @media (min-width: 768px) {
    .footer-widgets .wrap {
      display: flex;
      flex-wrap: wrap; } }
  .footer-widgets .widget-area {
    margin: 0 auto 4rem; }
    @media (min-width: 768px) {
      .footer-widgets .widget-area {
        flex: 1;
        margin-left: 2.564102564102564%; }
        .footer-widgets .widget-area:first-of-type {
          margin-left: 0; } }
    .footer-widgets .widget-area:last-of-type {
      margin-bottom: 0; }
    .footer-widgets .widget-area .widget {
      width: 100%;
      display: block;
      margin: 0 auto 2em; }
      .footer-widgets .widget-area .widget:last-of-type {
        margin-bottom: 0; }
  .footer-widgets .widget-title {
    font-size: 1.6rem;
    margin-bottom: 1.5em;
    color: #f0f1f2; }
  .footer-widgets .menu-item {
    width: 50%;
    line-height: 1.618;
    padding: 0;
    margin: 0 0 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: capitalize; }
    .footer-widgets .menu-item a {
      font-size: 1.6rem;
      float: left;
      text-align: left;
      padding: 0;
      margin: 0; }
  .footer-widgets .menu-item a:hover,
  .footer-widgets .menu-item.current-menu-item > a {
    color: #f6f7f8; }
  .footer-widgets .sub-menu {
    display: none !important; }
  .footer-widgets .enews ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1; }
  .footer-widgets .enews ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .footer-widgets .enews form {
    position: relative; }
  .footer-widgets .enews input {
    background: transparent;
    color: #ffffff;
    border-color: #647585;
    padding: 0.4rem 1.4rem;
    font-size: 1.6rem;
    -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
    .footer-widgets .enews input:focus {
      border-color: #a4a8ac; }
  .footer-widgets .enews input[type="submit"] {
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px 0;
    width: 5rem;
    line-height: 2;
    font-size: 100%;
    z-index: 1;
    color: transparent;
    box-shadow: none; }
    .footer-widgets .enews input[type="submit"]:hover + .fa-send-o {
      color: #ffffff; }
    .footer-widgets .enews input[type="submit"]:focus {
      outline: 2px solid #f0f1f2; }
  .footer-widgets .enews .fa-send-o {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .5em 0.75em;
    line-height: 1;
    font-size: 2rem;
    margin-bottom: 0.5em;
    z-index: 0;
    -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
  @media (min-width: 768px) {
    .footer-widgets p {
      max-width: 90%; } }

/* ## Before Footer
--------------------------------------------- */
.before-footer {
  padding: 6rem 0;
  background-color: #232c39;
  color: #ffffff;
  position: relative; }
  .before-footer:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 44, 57, 0.9);
    z-index: 1;
    pointer-events: none; }
  @media (min-width: 768px) {
    .before-footer {
      padding: 10rem 0; } }
  .before-footer:before {
    width: 100vw;
    height: 101%;
    left: -50%;
    right: -50%;
    top: 1%;
    margin: auto; }
  .before-footer .widget {
    margin-bottom: 5vw;
    position: relative;
    z-index: 1; }
    @media (min-width: 768px) {
      .before-footer .widget {
        margin-bottom: 0; } }
  .before-footer .widget_media_image:first-of-type {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    bottom: 0;
    left: -50%;
    right: -50%;
    margin: auto;
    z-index: 0; }
    .before-footer .widget_media_image:first-of-type .widget-wrap {
      position: absolute;
      height: 100%;
      width: 100%; }
    .before-footer .widget_media_image:first-of-type img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
      object-position: center; }
  .before-footer .wrap {
    z-index: 1; }
    @media (min-width: 768px) {
      .before-footer .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; }
        .before-footer .wrap:before, .before-footer .wrap:after {
          position: absolute; } }
  .before-footer .widget-title {
    font-size: 3rem; }
  .before-footer p {
    margin-bottom: 0;
    color: #f6f7f8; }
  .before-footer button,
  .before-footer .button,
  .before-footer input[type="submit"] {
    margin: 0;
    color: #ffffff; }
    .before-footer button:hover,
    .before-footer .button:hover,
    .before-footer input[type="submit"]:hover {
      color: #ffffff; }
    .before-footer button.alignright,
    .before-footer .button.alignright,
    .before-footer input[type="submit"].alignright {
      float: left; }
      @media (min-width: 768px) {
        .before-footer button.alignright,
        .before-footer .button.alignright,
        .before-footer input[type="submit"].alignright {
          float: right; } }

/* ## Simple Social Icons
--------------------------------------------- */
.simple-social-icons {
  overflow: hidden; }
  .simple-social-icons svg[class^="social-"], .simple-social-icons svg[class*=" social-"] {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor; }
  .simple-social-icons ul {
    margin: -0.5em -0.5em 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .simple-social-icons ul li {
      background: none;
      border: none;
      list-style-type: none;
      margin: 0.5em 0.5em 0 0;
      padding: 0; }
      .simple-social-icons ul li a {
        border: none;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        height: 1em;
        line-height: 1em;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        width: 1em;
        margin: 2px; }
    .simple-social-icons ul.aligncenter {
      justify-content: center; }
    .simple-social-icons ul.alignleft {
      justify-content: flex-start; }
    .simple-social-icons ul.alignright {
      justify-content: flex-end; }

/* ## Genesis Testimonial Slider
--------------------------------------------- */
div.lSSlideOuter .lSPager.lSpg > li {
  line-height: 0.16rem; }
  div.lSSlideOuter .lSPager.lSpg > li a {
    opacity: 0.382;
    background-color: #232c39;
    display: block; }
  div.lSSlideOuter .lSPager.lSpg > li.active a, div.lSSlideOuter .lSPager.lSpg > li:hover a {
    opacity: 0.618;
    background-color: #232c39;
    transform: scale(1.2); }
div.lSSlideOuter ul.testimonials-list {
  color: #647585;
  font-size: 1.8rem; }
  div.lSSlideOuter ul.testimonials-list li {
    text-align: left; }

/* ## Genesis eNews Extended
--------------------------------------------- */
.enews input {
  margin-bottom: 0.5em; }

/* ## Business Profile
--------------------------------------------- */
.hero-section .bp-contact-card {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .hero-section .bp-contact-card > div {
    margin: 2em 1em 0;
    width: 100%;
    text-align: center; }
    @media (min-width: 768px) {
      .hero-section .bp-contact-card > div {
        width: auto; } }
  .hero-section .bp-contact-card a {
    color: #f0f1f2;
    text-decoration: none; }
.bp-contact-card .bp-directions,
.bp-contact-card .bp-phone,
.bp-contact-card .bp-contact,
.bp-contact-card .bp-booking,
.bp-contact-card .bp-opening-hours-brief,
.bp-contact-card .bp-opening-hours .bp-title {
  text-align: left; }
  .bp-contact-card .bp-directions:before,
  .bp-contact-card .bp-phone:before,
  .bp-contact-card .bp-contact:before,
  .bp-contact-card .bp-booking:before,
  .bp-contact-card .bp-opening-hours-brief:before,
  .bp-contact-card .bp-opening-hours .bp-title:before {
    font-family: 'Fontawesome';
    width: 1em;
    line-height: 0.9; }
.bp-contact-card .bp-opening-hours .bp-title {
  margin-bottom: 1rem; }
.bp-contact-card .bp-directions:before {
  content: "\f27d"; }
.bp-contact-card .bp-phone:before {
  content: "\f2b3"; }
.bp-contact-card .bp-contact:before {
  content: "\f1c6"; }
.bp-contact-card .bp-opening-hours-brief:before,
.bp-contact-card .bp-opening-hours .bp-title:before {
  content: "\f18f"; }

/* ## Ninja Forms
--------------------------------------------- */
.nf-error.field-wrap .ninja-forms-field {
  border: 2px solid #fb2056; }

.nf-error-msg {
  font-size: 1.5rem;
  color: #fb2056; }

/* ## Genesis Simple FAQs
--------------------------------------------- */
.gs-faq__question {
  background-color: #f6f7f8;
  color: #647585;
  margin-bottom: 1rem; }
  .gs-faq__question:hover {
    color: #647585; }

/* ## WooCommerce (site-wide)
--------------------------------------------- */
.woocommerce-store-notice,
p.demo_store {
  position: relative;
  font-size: 1.5rem;
  padding: 1rem 0; }

.woocommerce-demo-store .page-header {
  padding-top: 18rem; }
  @media (min-width: 768px) {
    .woocommerce-demo-store .page-header {
      padding-top: 24rem; } }
.woocommerce-demo-store .menu-toggle {
  top: 64px; }
  @media (min-width: 512px) {
    .woocommerce-demo-store .menu-toggle {
      top: 42px; } }

/* ## Front Page
--------------------------------------------- */
.home .site-inner {
  padding: 0; }

.front-page-1,
.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5,
.front-page-6 {
  background-color: #ffffff;
  padding: 8rem 0;
  width: 100%; }
  @media (min-width: 896px) {
    .front-page-1,
    .front-page-2,
    .front-page-3,
    .front-page-4,
    .front-page-5,
    .front-page-6 {
      padding: 12rem 0; } }

/* ### Front Page 1 */
.front-page-1 {
  background-color: transparent;
  background-size: cover !important;
  background-position: center !important;
  padding: 0;
  height: 90vh;
  position: relative;
  color: #ffffff;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 100%;
  clear: both; }
  .front-page-1:before, .front-page-1:after {
    clear: both;
    display: block;
    content: ''; }
  @media (min-width: 1280px) {
    .front-page-1 {
      height: 80vh; } }
  .front-page-1 .wrap {
    position: relative;
    z-index: 2; }
  @media (min-width: 768px) {
    .front-page-1 .widget {
      max-width: 768px;
      margin-left: auto;
      margin-right: auto; } }
  .front-page-1 .widget:first-of-type {
    padding-top: 5vh; }
  .front-page-1 .widget .widget-wrap p {
    color: #f0f1f2;
    margin-bottom: 1.618em; }
  @media (min-width: 512px) {
    .front-page-1 h1 {
      font-size: 2.2em; } }
  @media (min-width: 768px) {
    .front-page-1 h1 {
      font-size: 2.7em; } }
  @media (min-width: 1280px) {
    .front-page-1 h1 {
      font-size: 3.5em; } }

/* ### Front Page 2 */
.front-page-2 {
  text-align: center; }
  .front-page-2 .fa-coffee {
    margin-left: -1.5rem; }
  .front-page-2 .widget-title {
    font-size: 2rem;
    margin: 1rem auto; }
  .front-page-2 p {
    color: #647585;
    display: block; }
    @media (min-width: 768px) {
      .front-page-2 p {
        padding: 0 1em;
        font-size: 1.8rem; } }
    @media (min-width: 768px) {
      .front-page-2 p:last-of-type {
        margin-bottom: 0; } }

/* ### Front Page 3 */
.front-page-3 {
  background-color: #f6f7f8; }
  .front-page-3 .wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
    .front-page-3 .wrap .featured-content {
      width: 30%; }
      .front-page-3 .wrap .featured-content .widget-wrap .entry {
        width: 100%; }
  @media (max-width: 768px) {
    .front-page-3 .wrap {
      flex-direction: column; }
      .front-page-3 .wrap .featured-content {
        width: 100% !important; } }
  .front-page-3 .widget {
    margin-bottom: 5vw; }
    @media (min-width: 768px) {
      .front-page-3 .widget {
        margin-bottom: 2.5641025641%;
        width: 100%; } }
    .front-page-3 .widget:first-of-type {
      margin-bottom: 5rem; }
  .front-page-3 .widget_custom_html:first-of-type {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    .front-page-3 .widget_custom_html:first-of-type hr {
      display: block;
      margin: 0 auto 4rem;
      padding: 0;
      height: 0.3rem;
      width: 10rem;
      border: 0;
      background-color: #fb2056; }
    .front-page-3 .widget_custom_html:first-of-type p {
      color: #647585; }
  .front-page-3 p {
    color: #647585; }
  .front-page-3 .entry {
    max-width: 40rem;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 27px 40px -20px rgba(35, 44, 57, 0.11);
    border-radius: 4px;
    -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
    .front-page-3 .entry:hover {
      box-shadow: 0px 27px 40px -20px rgba(35, 44, 57, 0.22); }
    .front-page-3 .entry > a {
      display: block;
      margin: 0;
      position: relative; }
      .front-page-3 .entry > a:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(35, 44, 57, 0.9);
        z-index: 1;
        pointer-events: none; }
      .front-page-3 .entry > a:before {
        opacity: 0.1; }
      .front-page-3 .entry > a:focus ~ .entry-header a {
        color: #647585; }
    .front-page-3 .entry p {
      display: flex;
      flex-wrap: wrap; }
  .front-page-3 .entry-title {
    padding: 3rem 3rem 0;
    font-size: 1.8rem; }
  .front-page-3 .entry-content {
    padding: 0 3rem 3rem;
    font-size: 1.8rem;
    color: #647585; }
  .front-page-3 img {
    min-width: 100%;
    border-radius: 4px 4px 0 0; }
  .front-page-3 .more-link {
    display: block;
    padding: 0.618em 1.618em;
    font-size: 1.4rem;
    font-family: "Comfortaa", Open Sans, sans-serif;
    font-weight: 500;
    margin-top: 1em;
    width: auto;
    background-color: #333;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0px 27px 40px -20px rgba(35, 44, 57, 0.22);
    -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
    .front-page-3 .more-link:hover {
      background-color: #DC143C;
      box-shadow: 0px 27px 40px -20px rgba(35, 44, 57, 0.22); }

/* ### Front Page 4 */
.front-page-4 {
  background-color: #232c39;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  padding: 10rem 0;
  position: relative; }
  .front-page-4:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 44, 57, 0.9);
    z-index: 1;
    pointer-events: none; }
  @media (min-width: 896px) {
    .front-page-4 {
      padding: 20rem 0; } }
  @media (min-width: 768px) {
    .front-page-4 .wrap {
      display: block; } }
  .front-page-4 .widget {
    max-width: 64rem;
    margin: 0 auto; }
    @media (min-width: 896px) {
      .front-page-4 .widget {
        margin: 0 auto; } }
  .front-page-4 .widget-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1; }
  .front-page-4 .widget_media_image:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    margin: 0; }
    @media (min-width: 768px) {
      .front-page-4 .widget_media_image:first-of-type {
        max-width: 100%; } }
    .front-page-4 .widget_media_image:first-of-type img {
      object-fit: cover;
      object-position: center;
      width: 100% !important;
      height: 100% !important; }
  .front-page-4 .widget.widget_media_video {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    position: fixed;
    z-index: 998;
    margin: auto;
    max-width: 100%;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
    .front-page-4 .widget.widget_media_video.visible {
      opacity: 1;
      pointer-events: all;
      visibility: visible; }
  .front-page-4 .textwidget {
    width: 100%; }
  .front-page-4 .wp-video {
    padding: 5%;
    position: relative; }
    @media (min-width: 768px) {
      .front-page-4 .wp-video {
        padding: 10%; } }
  .front-page-4 iframe {
    display: block;
    height: 100% !important;
    width: 100% !important;
    box-shadow: 0 3rem 3rem -2rem rgba(35, 44, 57, 0.5); }
  .front-page-4 .show-video {
    height: 3em;
    width: 3em;
    border-radius: 3em;
    border: 3px solid #ffffff;
    margin: 0 auto 1em;
    padding: 0;
    color: #ffffff;
    background-color: transparent;
    font-size: 2.4rem;
    -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
    .front-page-4 .show-video:hover {
      transform: scale(1.1); }
  .front-page-4 .hide-video {
    position: absolute;
    z-index: 999;
    top: -5%;
    right: 0;
    background: transparent;
    padding: 1rem;
    box-shadow: none;
    font-size: 2em;
    height: 1em;
    width: 1em;
    line-height: 0;
    text-align: center;
    border-radius: 9rem; }
    @media (min-width: 768px) {
      .front-page-4 .hide-video {
        top: 5%;
        right: 5%; } }
  .front-page-4 .before {
    position: fixed;
    background-color: rgba(35, 44, 57, 0.9);
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

/* ### Front Page 5 */
.front-page-5 .featured-content .widget-wrap {
  display: flex;
  flex-direction: row; }
@media (max-width: 768px) {
  .front-page-5 .featured-content .widget-wrap {
    flex-direction: column; } }
.front-page-5 .widget_custom_html:first-of-type {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  .front-page-5 .widget_custom_html:first-of-type hr {
    display: block;
    margin: 0 auto 4rem;
    padding: 0;
    height: 0.3rem;
    width: 10rem;
    border: 0;
    background-color: #fb2056; }
  .front-page-5 .widget_custom_html:first-of-type p {
    color: #647585; }
.front-page-5 .widget_custom_html:nth-of-type(2) {
  margin-left: 0;
  flex: auto; }
.front-page-5 .display-posts-listing {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  /* margin-bottom: -3rem;  */
}
.front-page-5 .listing-item {
  position: relative;
  border-radius: 4px;
  padding: 0;
  margin-bottom: 3rem;
  box-shadow: 0px 27px 40px -20px rgba(35, 44, 57, 0.22);
  -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  position: relative; }
  .front-page-5 .listing-item:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 44, 57, 0.9);
    z-index: 1;
    pointer-events: none; }
  @media (max-width: 768px) {
    .front-page-5 .listing-item {
      margin: 0 0 3rem 2.5641025641%;
      width: 48.7179487179%; }
      .front-page-5 .listing-item:nth-of-type(2n + 1) {
        margin-left: 0; } }
  @media (max-width: 512px) {
    .front-page-5 .listing-item {
      width: 100%;
      margin: 0 0 5%; } }
  .front-page-5 .listing-item:before {
    opacity: 0.1;
    border-radius: 4px;
    -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
  .front-page-5 .listing-item:hover {
    box-shadow: 0px 27px 40px -20px rgba(35, 44, 57, 0.33); }
    .front-page-5 .listing-item:hover:before,
    .front-page-5 .listing-item:hover .title {
      opacity: 1; }
  .front-page-5 .listing-item:last-of-type {
    margin-bottom: 3rem !important; }
.front-page-5 .image {
  display: block;
  height: 100%; }
  .front-page-5 .image img {
    border-radius: 4px; }
.front-page-5 .title {
  font-family: "Comfortaa", Open Sans, sans-serif;
  font-weight: 500;
  position: absolute;
  text-align: center;
  display: block;
  height: 1em;
  line-height: 1em;
  text-decoration: none;
  z-index: 1;
  color: #ffffff;
  opacity: 0;
  -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/* ### Front Page 6 */
.front-page-6 {
  background-color: #f6f7f8; }
  @media (min-width: 896px) {
    .front-page-6 .wrap {
      display: block; } }
  .front-page-6 img {
    width: 5rem;
    margin-bottom: 1rem; }
  .front-page-6 .lslide,
  .front-page-6 .clone {
    padding: 1.5rem; }
    .front-page-6 .lslide .wrap,
    .front-page-6 .clone .wrap {
      background-color: #ffffff;
      padding: 2em 2em 2.4em;
      border-radius: 4px;
      box-shadow: 0 2rem 2rem -1rem rgba(35, 44, 57, 0.05);
      clear: both;
      -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
      -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
      -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
      transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
      .front-page-6 .lslide .wrap:before, .front-page-6 .lslide .wrap:after,
      .front-page-6 .clone .wrap:before,
      .front-page-6 .clone .wrap:after {
        clear: both;
        display: block;
        content: ''; }
      .front-page-6 .lslide .wrap:hover,
      .front-page-6 .clone .wrap:hover {
        box-shadow: 0 2rem 2rem -1rem rgba(35, 44, 57, 0.1); }
  .front-page-6 blockquote {
    border: 0;
    margin: 0 0 1.5rem;
    padding: 0; }
  .front-page-6 .gts-rating + blockquote {
    margin-top: 0.5rem; }
  .front-page-6 blockquote + img {
    margin-bottom: 0;
    float: left; }
  .front-page-6 h5 {
    font-size: 1.5rem;
    margin: 0 1rem 1rem 0;
    line-height: 1;
    color: #647585; }
  .front-page-6 img + h5 {
    margin: 1.4rem 0.5rem 0 1rem; }
    .front-page-6 img + h5 + .gts-company {
      margin-top: 1.4rem; }
  .front-page-6 .gts-company {
    font-size: 1.5rem;
    display: block;
    line-height: 1; }
  .front-page-6 .lSSlideOuter {
    margin: 0 -1.5rem; }

/* ## Inner Pages
--------------------------------------------- */
/* ### Portfolio */
.portfolio {
  width: 100%; }
  .portfolio .filter {
    font-family: "Comfortaa", Open Sans, sans-serif;
    font-size: small;
    font-weight: 500;
    text-align: center;
    display: block;
    margin-bottom: 4rem; }
    .portfolio .filter .wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    .portfolio .filter a {
      text-decoration: none;
      margin: 0.5em;
      padding: 0.5em;
      display: block; }
      .portfolio .filter a.active {
        color: #fb2056; }

.portfolio-sizer {
  width: 2.5641025641%; }

.portfolio-item {
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0 2rem 2rem -1rem rgba(35, 44, 57, 0.1);
  border-radius: 4px;
  position: relative; }
  .portfolio-item:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 44, 57, 0.9);
    z-index: 1;
    pointer-events: none; }
  @media (min-width: 512px) {
    .portfolio-item {
      width: calc(50% - 1rem); } }
  @media (min-width: 896px) {
    .portfolio-item {
      width: calc(33.333333333% - 1.333333333rem); } }
  .portfolio-item:before {
    opacity: 0.1;
    border-radius: 4px;
    -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
  .portfolio-item:hover {
    box-shadow: 0 2rem 2rem -1rem rgba(35, 44, 57, 0.3);
    transition: box-shadow 0.75s cubic-bezier(0, 1, 0.5, 1), transform 0.75s cubic-bezier(0, 1, 0.5, 1); }
    .portfolio-item:hover:before,
    .portfolio-item:hover .entry-title {
      opacity: 1; }
  .portfolio-item a {
    display: block;
    position: relative; }
  .portfolio-item img {
    border-radius: 4px; }
  .portfolio-item .entry-title {
    text-align: center;
    position: absolute;
    font-family: "Comfortaa", Open Sans, sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: #ffffff;
    height: 1em;
    line-height: 1;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.archive.genesis-pro-portfolio .entry {
  padding: 0;
  position: relative; }
  .archive.genesis-pro-portfolio .entry:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 44, 57, 0.9);
    z-index: 1;
    pointer-events: none; }
  .archive.genesis-pro-portfolio .entry:before {
    opacity: 0.1;
    border-radius: 4px;
    -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
  .archive.genesis-pro-portfolio .entry:hover {
    box-shadow: 0 2rem 2rem -1rem rgba(35, 44, 57, 0.3);
    transition: box-shadow 0.75s cubic-bezier(0, 1, 0.5, 1), transform 0.75s cubic-bezier(0, 1, 0.5, 1); }
    .archive.genesis-pro-portfolio .entry:hover:before,
    .archive.genesis-pro-portfolio .entry:hover .entry-title {
      opacity: 1; }
    .archive.genesis-pro-portfolio .entry:hover a {
      color: #ffffff; }
  .archive.genesis-pro-portfolio .entry a {
    display: block;
    position: relative; }
  .archive.genesis-pro-portfolio .entry img {
    border-radius: 4px; }
  .archive.genesis-pro-portfolio .entry .entry-title {
    text-align: center;
    position: absolute;
    font-family: "Comfortaa", Open Sans, sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: #ffffff;
    height: 1em;
    line-height: 1;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

/* ### Masonry */
.blog .site-inner,
.archive .site-inner,
.page-template-page_blog .site-inner {
  background-color: #f6f7f8; }
.blog .content,
.archive .content,
.page-template-page_blog .content {
  display: flex;
  flex-wrap: wrap; }
@media (min-width: 896px) {
  .blog.content-sidebar .entry, .blog.sidebar-content .entry,
  .archive.content-sidebar .entry,
  .archive.sidebar-content .entry,
  .page-template-page_blog.content-sidebar .entry,
  .page-template-page_blog.sidebar-content .entry {
    width: calc(50% - 1.5rem); } }
.blog .entry,
.archive .entry,
.page-template-page_blog .entry {
  width: 100%;
  margin-bottom: 3rem;
  box-shadow: 0 1rem 2rem -1rem rgba(35, 44, 57, 0.1);
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
  @media (min-width: 512px) {
    .blog .entry,
    .archive .entry,
    .page-template-page_blog .entry {
      width: 48.7179487179%; }
      .blog .entry:nth-of-type(even),
      .archive .entry:nth-of-type(even),
      .page-template-page_blog .entry:nth-of-type(even) {
        margin-left: 2.5641025641%; } }
  @media (min-width: 896px) {
    .blog .entry,
    .archive .entry,
    .page-template-page_blog .entry {
      width: 31.6239316239%;
      margin-left: 2.5641025641%; }
      .blog .entry:nth-of-type(3n + 1),
      .archive .entry:nth-of-type(3n + 1),
      .page-template-page_blog .entry:nth-of-type(3n + 1) {
        margin-left: 0; } 
      .featured-content .widget-wrap .entry { width: 48%; }
    }
  .blog .entry:hover,
  .archive .entry:hover,
  .page-template-page_blog .entry:hover {
    box-shadow: 0 2rem 1rem -1rem rgba(35, 44, 57, 0.1); }
.blog .entry-title,
.archive .entry-title,
.page-template-page_blog .entry-title {
  font-size: 1.6rem; }
.blog .entry-content,
.archive .entry-content,
.page-template-page_blog .entry-content {
  font-size: 1.8rem;
  color: #647585; }
.blog .entry-footer,
.archive .entry-footer,
.page-template-page_blog .entry-footer {
  margin-top: 1rem; }
  .blog .entry-footer p,
  .archive .entry-footer p,
  .page-template-page_blog .entry-footer p {
    margin: 0; }
.blog .entry-image-link, .archive .entry-image-link, .page-template-page_blog .entry-image-link {
  display: block;
  margin: -3rem -3rem 3rem; }
  @media (min-width: 768px) {
    .single .blog .entry-image-link,
    .single .archive .entry-image-link,
    .single .page-template-page_blog .entry-image-link {
      margin: -6rem -6rem 6rem; } }
  .blog .entry-image-link img, .archive .entry-image-link img, .page-template-page_blog .entry-image-link img {
    border-radius: 4px 4px 0 0; }

/* ### Column Examples */
.columns div {
  background-color: #f6f7f8;
  border-radius: 4px;
  margin-bottom: 2.5641025641%;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-family: "Comfortaa", Open Sans, sans-serif;
  font-weight: 500;
  padding: 2em 0;
  color: #647585;
  box-shadow: 0 0 1rem -1rem rgba(35, 44, 57, 0);
  transform: translateY(0);
  -webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  -moz-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  -o-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  transition: all 0.75s cubic-bezier(0, 1, 0.5, 1); }
  .columns div:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 2rem 1rem -1rem rgba(35, 44, 57, 0.1); }

/* ### Icon Examples */
.fa {
  text-shadow: 0.1em 0.1em 0 rgba(100, 117, 133, 0.1); }

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .icons span {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: #647585; }
    @media (min-width: 512px) {
      .icons span {
        width: 50%; } }
    @media (min-width: 896px) {
      .icons span {
        width: 33.33333333333%; } }
    @media (min-width: 1280px) {
      .icons span {
        width: 25%; } }
  .icons i {
    font-size: 3rem;
    margin-right: 0.3em;
    color: #232c39; }
  .icons br {
    display: none; }

/* ### Pricing Table */
.pricing .site-inner {
  background-color: #f6f7f8; }
.pricing .entry {
  background-color: transparent; }

.pricing-table {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px; }
  @media (min-width: 768px) {
    .pricing-table {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 60px; } }
  .pricing-table > div {
    background-color: #ffffff;
    padding: 40px 20px 50px;
    transition: all .3s ease;
    box-shadow: 0 0 0 rgba(35, 44, 57, 0);
    margin-bottom: 25px; }
    @media (min-width: 768px) {
      .pricing-table > div {
        margin: 0; } }
    .pricing-table > div:hover {
      transform: translateY(-1rem);
      z-index: 2;
      box-shadow: 0 2rem 2rem -0.5rem rgba(35, 44, 57, 0.1); }
  .pricing-table .featured {
    z-index: 1;
    position: relative;
    transform: scale(1.05); }
    .pricing-table .featured:hover {
      transform: translateY(-1rem) scale(1.05); }
    .pricing-table .featured button,
    .pricing-table .featured .button {
      background-color: #fb2056; }
  .pricing-table strong {
    font-weight: 500;
    color: #647585;
    font-size: 2rem; }
  .pricing-table span {
    font-style: italic;
    font-size: 1.3rem; }
  .pricing-table small {
    position: absolute;
    margin-top: 10px;
    margin-left: -10px; }
  .pricing-table big {
    font-size: 1.618em;
    color: #232c39;
    font-weight: 500;
    font-family: "Comfortaa", Open Sans, sans-serif; }
  .pricing-table p {
    margin: 0; }
  .pricing-table ul {
    margin: 10px 0 20px; }
    .pricing-table ul li {
      margin: 0;
      list-style-position: inside;
      list-style-type: none; }

/*
 * IE specific styles.
 *
 * @link http://keithclark.co.uk/articles/moving-ie-specific-css-into-media-blocks/
 */
@media screen\0 {
  .nav-primary {
    margin: 0 0 0 auto; }

  .header-widget-area {
    margin-right: auto; } }
/* # Print Styles
--------------------------------------------- */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    box-shadow: none !important;
    color: #232c39 !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after,
  .site-title > a:after {
    content: ""; }

  thead {
    display: table-header-group; }

  img,
  tr {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 2cm 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  blockquote,
  pre {
    border: 2px solid #f0f1f2;
    page-break-inside: avoid; }

  .content,
  .content-sidebar {
    width: 100%; }

  button,
  input,
  select,
  textarea,
  .breadcrumb,
  .comment-edit-link,
  .comment-form,
  .comment-list .reply a,
  .comment-reply-title,
  .edit-link,
  .entry-comments-link,
  .entry-footer,
  .genesis-box,
  .header-widget-area,
  .hidden-print,
  .home-top,
  .nav-primary,
  .nav-secondary,
  .post-edit-link,
  .sidebar {
    display: none !important; }

  .title-area {
    text-align: center;
    width: 100%; }

  .site-title > a {
    margin: 0;
    text-decoration: none;
    text-indent: 0; }

  .site-inner {
    padding-top: 0;
    position: relative;
    top: -10rem; }

  .author-box {
    margin-bottom: 0; }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    orphans: 3;
    page-break-after: avoid;
    page-break-inside: avoid;
    widows: 3; }

  img {
    page-break-after: avoid;
    page-break-inside: avoid; }

  blockquote,
  pre,
  table {
    page-break-inside: avoid; }

  dl,
  ol,
  ul {
    page-break-before: avoid; } }

/*# sourceMappingURL=style.css.map */

.home .entry a img {
 /* height: 300px; */
}

.home header.entry-header {
  padding: 20px;
}
