/* ## Typography
--------------------------------------------- */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: 62.5%; // 10px browser default.
    max-width: 100vw;
    overflow-x: hidden;
    background-color: $dark;
}

body {
    background-color: $white;
    color: $dark;
    font-family: $font-body;
    font-size: 1.8rem;
    font-weight: $normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    @include breakpoint(sm) {
        font-size: 2rem;
    }
}

body>div {
    font-size: 1.8rem;
    @include breakpoint(sm) {
        font-size: 2rem;
    }
}

p {
    margin: 0 0 1.382em;
    padding: 0;
}

a {
    color: $blue;
    word-wrap: break-word;
    &:hover {
        color: $gray;
    }
}

ol,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

hr {
    border: 0;
    border-collapse: collapse;
    border-bottom: $site-border;
    clear: both;
    padding: 1em 0 0;
    margin: 0 0 2em;
}

b,
strong {
    font-weight: $bolder;
}

blockquote,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 1em 0;
    padding: 0 1em;
}


/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
    font-weight: $bolder;
    line-height: 1.2;
    margin: 0 0 0.382em;
}

h1 {
    font-size: 1.8em;
    @include breakpoint(sm) {
        font-size: 2.6em;
    }
}

h2 {
    font-size: 1.4em;
    @include breakpoint(sm) {
        font-size: 1.5em;
    }
}

h3 {
    font-size: 1.3em;
    @include breakpoint(sm) {
        font-size: 1.4em;
    }
}

h4 {
    font-size: 1.2em;
    @include breakpoint(sm) {
        font-size: 1.3em;
    }
}

h5 {
    font-size: 1.1em;
    @include breakpoint(sm) {
        font-size: 1.2em;
    }
}

h6 {
    font-size: 1.05em;
    @include breakpoint(sm) {
        font-size: 1.1em;
    }
}


/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
    background-color: $white;
    border: $site-border;
    border-radius: $site-radius;
    padding: 0.5em 1em;
    width: 100%;
    line-height: 2;
    font-size: 1.8rem;
    &:focus {
        outline: none;
        border-color: $gray;
    }
}

:focus {
    outline: 2px solid $border;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
    width: auto;
}

input[type="search"] {
    -webkit-appearance: none;
}

::-moz-placeholder {
    color: $gray;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: $gray;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: $dark;
    border: 0;
    border-radius: $site-radius;
    color: $white;
    cursor: pointer;
    font-family: $font-heading;
    font-size: 1.5rem;
    font-weight: $bold;
    padding: 1.2em 2.2em;
    text-decoration: none;
    $white-space: nowrap;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 1;
    box-shadow: inset 0 0 0 9rem rgba($white, 0), 0 1rem 1rem -1rem rgba($dark, 0.1);
    @include transition;
    &:hover {
        color: $white;
        box-shadow: inset 0 0 0 9rem rgba($white, 0.1), 0 1.25rem 1rem -0.5rem rgba($dark, 0.1);
        @include transition;
    }
    &.accent {
        background-color: $accent;
    }

    .button.accent:hover {
        background-color: #DC143C;
    }
    &.small {
        font-size: 1.2rem;
    }
    &:disabled,
    &:disabled:hover {
        background-color: $light;
        border-width: 0;
        color: darken($light, 50%);
        cursor: not-allowed;
    }
    +button,
    +.button {
        margin-top: 1em;
        clear: both;
        @include breakpoint(xs) {
            margin-top: 0;
            clear: none;
        }
    }
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
    display: none;
}

fieldset {
    margin-bottom: 1em;
}


/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption,
.wp-video-shortcode {
    max-width: 100%;
    display: block;
}

img {
    height: auto;
}

figure {
    margin: 0;
}

video {
    object-fit: cover;
}

.wp-video-shortcode {
    width: auto !important;
}


/* ## Tables
--------------------------------------------- */

table {
    background-color: $white;
    border: $site-border;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 1;
    margin-bottom: 4rem;
    width: 100%;
}

tbody {
    border-bottom: $site-border;
}

td,
th {
    text-align: left;
    padding: 0.618em;
    border-top: $site-border;
    border-right: $site-border;
}


/* ## Accessibility
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut,
.wp-custom-logo .site-title,
.wp-custom-logo .site-description {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 0.1rem;
    width: 0.1rem;
    border: 0;
    overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
    clip: auto !important;
    height: auto;
    width: auto;
    top: 1em;
    left: 1em;
    display: block;
    padding: 1rem 2rem;
    z-index: 100000;
    text-decoration: none;
    color: $white;
    background-color: $dark;
    box-shadow: 0 0 0.2rem 0.2rem rgba($dark, 0.1);
}

.more-link {
    position: relative;
    font-style: normal;
}

.genesis-skip-link {
    margin: 0;
    li {
        height: 0;
        width: 0;
        list-style: none;
    }
}
